# Actividad Semanal 7 - Exploración de Datos y Visualización

![Logo Tec](img/LogoTec2.jpg)

## TC4029 Ciencia y analítica de datos (Gpo 10)
### Alumno: Armando Bringas Corpus (A01200230)
### Profesores: Dra. María de la Paz Rico Fernández, Mtra. Victoria Guerrero Orozco
### Fecha: 25 de octubre de 2022

In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn import preprocessing

In [2]:
# Mostrar todas las filas y columnas

#pd.set_option('display.rows', None)
pd.set_option('display.max_columns', None)

## Conjunto de los datos

A continuación, se muestra la base de datos requerida para realizar la actividad basada, en el siguiente vínculo se encuentra su descripción detallada: [Información del Dataset](https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/dataset_info.txt). Este conjunto de datos contiene información sobre pagos predeterminados, factores demográficos, datos crediticios, historial de pagos y estados de cuenta de clientes de tarjetas de crédito en Taiwán desde abril de 2005 hasta septiembre de 2005.

In [3]:
# Obtención de los datos y creación de dataframe
data_input = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'
df = pd.read_csv(data_input)

# Mostrar los datos de los primeros cinco registros
df.head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

## Información del Dataframe

In [4]:
df.columns

Index(['ID', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10',
       'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20',
       'X21', 'X22', 'X23', 'Y'],
      dtype='object')

In [5]:
df['ID'] = df['ID'].astype('category')
df['X1'] = df['X1'].astype('float64')
df['X2'] = df['X2'].astype('category')
df['X3'] = df['X3'].astype('category')
df['X4'] = df['X4'].astype('category')
df['X6'] = df['X6'].astype('category')
df['X7'] = df['X7'].astype('category')
df['X8'] = df['X8'].astype('category')
df['X9'] = df['X9'].astype('category')
df['X10'] = df['X10'].astype('category')
df['X11'] = df['X11'].astype('category')
df['Y'] = df['Y'].astype('category')
df.dtypes

ID     category
X1      float64
X2     category
X3     category
X4     category
X5      float64
X6     category
X7     category
X8     category
X9     category
X10    category
X11    category
X12     float64
X13     float64
X14     float64
X15     float64
X16     float64
X17     float64
X18     float64
X19     float64
X20     float64
X21     float64
X22     float64
X23     float64
Y      category
dtype: object

In [6]:
df.shape

(30000, 25)

In [7]:
df.dtypes

ID     category
X1      float64
X2     category
X3     category
X4     category
X5      float64
X6     category
X7     category
X8     category
X9     category
X10    category
X11    category
X12     float64
X13     float64
X14     float64
X15     float64
X16     float64
X17     float64
X18     float64
X19     float64
X20     float64
X21     float64
X22     float64
X23     float64
Y      category
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  category
 1   X1      30000 non-null  float64
 2   X2      29999 non-null  category
 3   X3      29998 non-null  category
 4   X4      29998 non-null  category
 5   X5      29995 non-null  float64
 6   X6      29997 non-null  category
 7   X7      29995 non-null  category
 8   X8      29993 non-null  category
 9   X9      29991 non-null  category
 10  X10     29984 non-null  category
 11  X11     29986 non-null  category
 12  X12     29989 non-null  float64
 13  X13     29989 non-null  float64
 14  X14     29987 non-null  float64
 15  X15     29985 non-null  float64
 16  X16     29983 non-null  float64
 17  X17     29990 non-null  float64
 18  X18     29992 non-null  float64
 19  X19     29991 non-null  float64
 20  X20     29992 non-null  float64
 21  X21     29989 non-null  float64
 22  X22     29989 non-null  float64
 23  X23     29995 non-null  float64
 24  Y       29997 non-null  category
dtypes: category(11), float64(14)
memory usage: 4.8 MB

## Registro y limpieza de datos nulos

In [9]:
df.isna()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isna().sum().sum()

196

In [11]:
df.isnull().sum()

ID      0
X1      0
X2      1
X3      2
X4      2
X5      5
X6      3
X7      5
X8      7
X9      9
X10    16
X11    14
X12    11
X13    11
X14    13
X15    15
X16    17
X17    10
X18     8
X19     9
X20     8
X21    11
X22    11
X23     5
Y       3
dtype: int64

In [12]:
# df.select_dtypes(include='category').dropna(inplace=True)}
df.dropna(inplace=True)

## Estadística Descriptiva

In [13]:
df.describe()

,X1,X5,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
count,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000
mean,167555.900928,35.483443,51248.119901,49200.493825,4.703239e+04,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025
std,129737.299088,9.214319,73674.949943,71211.232744,6.938524e+04,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767
min,10000.000000,21.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,28.000000,3559.250000,2984.000000,2.664750e+03,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000
50%,140000.000000,34.000000,22379.000000,21194.500000,2.008550e+04,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000
75%,240000.000000,41.000000,67190.000000,64027.750000,6.018300e+04,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000
max,1000000.000000,79.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000

In [14]:
df.describe(include=['category'])

,ID,X2,X3,X4,X6,X7,X8,X9,X10,X11,Y
count,29958,29958.0,29958.0,29958.0,29958.0,29958.0,29958.0,29958.0,29958.0,29958.0,29958.0
unique,29958,2.0,7.0,4.0,11.0,11.0,11.0,11.0,10.0,10.0,2.0
top,1,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
freq,1,18095.0,14009.0,15939.0,14717.0,15709.0,15742.0,16431.0,16925.0,16266.0,23333.0

## Conteo de Variables Categóricas y Escalamiento

In [15]:
df.select_dtypes(include='category').columns

Index(['ID', 'X2', 'X3', 'X4', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'Y'], dtype='object')

In [16]:
len(df.select_dtypes(include='category').columns)

11

In [17]:
# Separación de las variables de entrada 'X' y salida 'y'

X = df.drop(['ID','X2','X3','X4','X6','X7','X8','X9','X10','X11','Y'], axis=1)
y = df['Y']

In [18]:
# Normalización de los datos
scaled_data = preprocessing.scale(X)
scaled_data

array([[-1.13736269, -1.24628151, -0.64249667, ..., -0.30810735,
        -0.31412418, -0.29348473],
       [-0.36656147, -1.0292244 , -0.65920548, ..., -0.24431534,
        -0.31412418, -0.18105373],
       [-0.59780183, -0.16099598, -0.29873773, ..., -0.24431534,
        -0.24870184, -0.01240721],
       ...,
       [-1.06028257,  0.16458968, -0.6472202 , ..., -0.0401809 ,
        -0.18327949, -0.11921667],
       [-0.67488196,  0.5987039 , -0.71793741, ..., -0.18524394,
         3.15090487, -0.19207196],
       [-0.90612232,  1.14134666, -0.04505161, ..., -0.24431534,
        -0.24870184, -0.23726923]])

## PCA

### Creación de modelo de PCA

In [19]:
pca = PCA(n_components=14)
pca.fit(scaled_data)
pca_data = pca.transform(scaled_data)
pca_data

array([[-1.95861347e+00, -5.36935548e-01,  1.33026326e+00, ...,
        -3.14858410e-03,  8.15558569e-03,  9.86538923e-03],
       [-1.73543639e+00, -2.17455383e-01,  8.63894947e-01, ...,
         1.22574823e-02, -4.04768371e-03,  7.41830384e-04],
       [-1.22457257e+00, -2.85108665e-01,  2.13127766e-01, ...,
        -8.04550604e-02, -4.13466939e-02, -5.71189238e-02],
       ...,
       [-1.28525164e+00,  1.46260790e-01,  2.50362188e-01, ...,
         3.47276425e-02,  1.28749411e-02, -1.21264837e-02],
       [ 8.30126576e-01,  2.41954325e+00,  3.63918332e-01, ...,
         1.70414940e-01, -1.39937218e-01, -8.16447343e-03],
       [-5.17390297e-01, -6.00838232e-01, -7.49601106e-01, ...,
        -1.76099500e-02,  1.15296003e-01, -4.70445624e-02]])

### Varianza de los datos explicada por cada componente seleccionado

In [20]:
# Por porcentaje de varianza por componente del modelo de PCA

per_var = np.round(pca.explained_variance_ratio_*100, decimals=4)
labels=['PC' + str(x) for x in range(1, len(per_var)+1)]

print("\n".join("{} : % {}".format(x, y) for x, y in zip(labels, per_var)))

PC1 : % 42.2779
PC2 : % 12.2552
PC3 : % 7.4643
PC4 : % 6.6084
PC5 : % 6.3124
PC6 : % 6.2341
PC7 : % 5.5688
PC8 : % 5.1902
PC9 : % 5.0523
PC10 : % 1.8889
PC11 : % 0.5072
PC12 : % 0.2933
PC13 : % 0.181
PC14 : % 0.166

### Importancia de las variables en cada componente

In [21]:
pca_components_df = pd.DataFrame(pca.components_.transpose(), 
                                 columns = labels,
                                 index = X.columns
                                )

pca_components_df

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,PC11,PC12,PC13,PC14
X1,0.165507,0.300709,-0.378575,-0.200103,0.035312,-0.078883,0.111239,-0.046381,-0.821996,-0.029201,-0.006198,0.015697,-0.000417,0.003345
X5,0.032789,0.071906,-0.869471,0.338990,-0.039760,0.071461,-0.078816,0.027368,0.330346,-0.009011,0.000139,-0.001377,0.000132,0.001067
X12,0.372446,-0.190793,-0.034207,-0.063899,0.041391,-0.043987,0.008169,0.009341,0.010348,0.566716,0.416018,-0.432992,-0.183793,-0.316576
X13,0.383253,-0.174644,-0.001814,0.007629,0.083164,-0.028824,-0.032444,-0.135636,0.016872,0.386872,0.038425,0.345052,0.329467,0.645227
X14,0.388264,-0.126883,0.034747,0.060528,0.113790,0.099239,-0.121162,0.093077,-0.018607,0.122863,-0.484776,0.495792,-0.086466,-0.527640
X15,0.391557,-0.120403,0.034073,0.074774,0.028378,0.014527,0.126494,0.039157,0.019109,-0.205260,-0.523211,-0.489647,-0.362078,0.346095
X16,0.388505,-0.105928,0.033882,0.039553,-0.106756,-0.099290,-0.007584,0.049781,0.023701,-0.419992,0.068372,-0.249500,0.718388,-0.226667
X17,0.380672,-0.094157,0.018489,-0.070616,-0.164986,0.069272,0.007892,-0.000282,0.058701,-0.488861,0.513313,0.338689,-0.427734,0.072287
X18,0.135120,0.383194,0.173845,0.362055,0.225652,0.040574,-0.201646,-0.748694,0.019949,-0.056581,0.047513,-0.069359,-0.044841,-0.084567
X19,0.116768,0.408391,0.200925,0.345745,0.148714,0.408361,-0.278835,0.578491,-0.110712,0.050854,0.147307,-0.068851,0.038925,0.124894
X20,0.128056,0.392339,0.122065,0.244688,-0.239600,-0.108158,0.785216,0.068216,0.152990,0.144908,0.000139,0.124675,0.025427,-0.063096
X21,0.116903,0.349613,0.062272,-0.094736,-0.577791,-0.500809,-0.462241,0.077764,0.098813,0.124098,-0.115830,0.001024,-0.080731,0.042272
X22,0.113741,0.303923,-0.060900,-0.609833,-0.193395,0.602388,0.014301,-0.164877,0.252920,0.060003,-0.099471,-0.069426,0.095243,-0.008534
X23,0.105481,0.323529,-0.050896,-0.365692,0.659155,-0.409151,0.025459,0.181276,0.316686,-0.099178,0.034971,0.027711,-0.017205,0.008314

In [27]:
for i in range(1,5):
    largest_var = pca_components_df['PC' + str(i)].nlargest(10)
    print(f'Para componente PC{i} las columnas de mayor varianza son \n{largest_var}\n')

Para componente PC1 las columnas de mayor varianza son
X15    0.391557
X16    0.388505
X14    0.388264
X13    0.383253
X17    0.380672
X12    0.372446
X1     0.165507
X18    0.135120
X20    0.128056
X21    0.116903
Name: PC1, dtype: float64

Para componente PC2 las columnas de mayor varianza son
X19    0.408391
X20    0.392339
X18    0.383194
X21    0.349613
X23    0.323529
X22    0.303923
X1     0.300709
X5     0.071906
X17   -0.094157
X16   -0.105928
Name: PC2, dtype: float64

Para componente PC3 las columnas de mayor varianza son
X19    0.200925
X18    0.173845
X20    0.122065
X21    0.062272
X14    0.034747
X15    0.034073
X16    0.033882
X17    0.018489
X13   -0.001814
X12   -0.034207
Name: PC3, dtype: float64

Para componente PC4 las columnas de mayor varianza son
X18    0.362055
X19    0.345745
X5     0.338990
X20    0.244688
X15    0.074774
X14    0.060528
X16    0.039553
X13    0.007629
X12   -0.063899
X17   -0.070616
Name: PC4, dtype: float64

## Visualización, Interpretación y Explicación